.ck {
  &.ck-button {
    &:focus {
      /* stylelint-disable-next-line color-function-notation */
      box-shadow: rgba(31, 115, 183, .35) 0 0 0 3px; /* BLUE-600 */
    }

    &:focus, &:active {
      border-color: transparent;
    }

    &:not(.ck-disabled) {
      cursor: pointer;
    }

    &:not(.ck-disabled):hover .ck-button__icon {
      color: #49545c; /* GREY-700 */
    }

    &.ck-disabled:active {
      box-shadow: none;
    }
  }
}
