.ck-content pre {
  margin: 0;
  margin-top: var(--ck-spacing-large);
  margin-bottom: var(--ck-spacing-large);
  border-radius: var(--ck-border-radius-small);
  background-color: #f8f9f9; /* GREY-100 */
  padding: var(--ck-spacing-large);
  overflow: auto;
  white-space: pre;
  color: var(--ck-color-base-text);

  & code {
    background-color: inherit;
  }
}
