.ck-content h1 {
  line-height: 32px;
  font-size: 26px; /* XXL */
  font-weight: 600;
  margin-block-start: 8px;
  margin-block-end: 8px;
}

.ck-content h2 {
  line-height: 28px;
  font-size: 22px; /* XL */
  font-weight: 600;
  margin-block-start: 8px;
  margin-block-end: 8px;
}

.ck-content h3 {
  line-height: 24px;
  font-size: 18px; /* LG */
  font-weight: 600;
  margin-block-start: 8px;
  margin-block-end: 8px;
}

.ck-content h4 {
  line-height: 20px;
  font-size: 14px; /* MD */
  font-weight: 600;
  margin-block-start: 8px;
  margin-block-end: 8px;
}

.ck-content p {
  margin-bottom: 20px;
}

.ck-content strong {
  font-weight: 600;
}

.ck-content u {
  text-decoration: underline;
}
