/* stylelint-disable custom-property-pattern, color-function-notation, max-line-length */

:root {
  /* FONTS */
  /* stylelint-disable value-keyword-case */
  --ck-font-face:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    Helvetica Neue,
    Arial,
    sans-serif;
  /* stylelint-enable value-keyword-case */
  --ck-font-size-base: 14px;
  --ck-line-height-base: 1.84615;
  --ck-font-size-tiny: 10px;
  --ck-font-size-small: 12px;
  --ck-font-size-normal: 14px;
  --ck-font-size-big: 18px;
  --ck-font-size-large: 22px;

  /* COLORS */
  --ck-color-base-background: #fff; /* WHITE */
  --ck-color-base-foreground: #fff; /* WHITE */
  --ck-color-base-border: #d8dcde; /* GREY-300 */
  --ck-color-base-action: #038153; /* GREEN-600 */
  --ck-color-base-focus: #1f73b7; /* BLUE-600 */
  --ck-color-base-text: #2f3941; /* GREY-800  */
  --ck-color-base-error: #cc3340; /* RED-600 */
  --ck-color-focus-border: var(--ck-color-base-focus);
  --ck-color-focus-outer-shadow: rgba(31, 115, 183, .35); /* BLUE-600 w/ alpha */

  /* SPACING */
  --ck-spacing-unit: 4px;
  --ck-spacing-extra-large: calc(var(--ck-spacing-unit) * 4);
  --ck-spacing-large: calc(var(--ck-spacing-unit) * 3);
  --ck-spacing-standard: calc(var(--ck-spacing-unit) * 2);
  --ck-spacing-medium: var(--ck-spacing-unit);
  --ck-spacing-small: calc(var(--ck-spacing-unit) * .5);
  --ck-spacing-tiny: calc(var(--ck-spacing-unit) * .25);
  --ck-spacing-extra-tiny: calc(var(--ck-spacing-unit) * .25);

  /* BORDERS */
  --ck-border-radius: var(--ck-spacing-unit);
  --ck-border-radius-small: var(--ck-spacing-small);

  /* ICONS */
  --ck-icon-size: var(--ck-spacing-extra-large);

  /* TOOLTIPS */
  --ck-color-tooltip-background: #03363d; /* KALE-700 */
  --ck-color-tooltip-text: var(--ck-color-base-background);

  /* SHADOWS */
  --ck-color-shadow-drop: rgba(23, 73, 77, .15); /* CHROME-600 */
  --ck-inner-shadow: rgba(31, 115, 183, .35) 0 0 0 3px inset; /* INSET-FOCUS */
  --ck-drop-shadow: var(--ck-color-shadow-drop) 0 20px 30px 0;

  /* WIDGET */
  --ck-widget-outline-thickness: 1px;
  --ck-color-widget-hover-border: #fed6a8; /* YELLOW-300 */

  /* BUTTONS */
  --ck-color-button-default-background: transparent;
  --ck-color-button-default-hover-background: rgba(31, 115, 183, .08);
  --ck-color-button-default-active-background: rgba(31, 115, 183, .2);
  --ck-color-button-default-active-shadow: transparent; /* TODO NEEDS WORK */
  --ck-color-button-default-disabled-background: transparent;
  --ck-color-button-on-background: var(--ck-color-button-default-active-background);
  --ck-color-button-on-hover-background: var(--ck-color-button-default-active-background);
  --ck-color-button-on-active-background: var(--ck-color-button-default-active-background);
  --ck-color-button-on-active-shadow: transparent; /* TODO NEEDS WORK */
  --ck-color-button-on-disabled-background: var(--ck-color-button-default-disabled-background);

  /* DROPDOWNS */
  --ck-dropdown-arrow-size: var(--ck-spacing-extra-large);

  /* LISTS */
  --ck-color-list-button-on-background: inherit;
  --ck-color-list-button-on-background-focus: var(--ck-color-list-button-hover-background);
  --ck-color-list-button-on-text: var(--ck-color-base-text);
}
