/* stylelint-disable declaration-no-important,
  max-nesting-depth, selector-max-compound-selectors */

@keyframes zd-menu--top-open {
  0% {
    transform: translateY(var(--ck-spacing-extra-large));
  }
}

@keyframes zd-menu--bottom-open {
  0% {
    transform: translateY(calc(var(--ck-spacing-extra-large) * -1));
  }
}

.ck.ck-dropdown {
  & .ck-button.ck-dropdown__button {
    & .ck-dropdown__arrow {
      transition: transform .25s ease-in-out 0s, color .25s ease-in-out 0s;
    }

    &.ck-on {
      border-radius: var(--ck-border-radius);

      & .ck-dropdown__arrow {
        transform: rotate(180deg);
      }
    }
  }

  & .ck-dropdown__panel {
    animation: .2s cubic-bezier(.15, .85, .35, 1.2);
    border-radius: var(--ck-border-radius) !important;

    &:not(.ck-dropdown__panel-visible) {
      display: inline-block;
      transition: opacity .2s ease-in-out, .2s visibility 0s linear;
      visibility: hidden;
      opacity: 0;
    }

    &.ck-dropdown__panel-visible {
      visibility: visible;
      opacity: 1;

      &.ck-dropdown__panel_ne,
      &.ck-dropdown__panel_nw {
        animation-name: zd-menu--top-open;
      }

      &.ck-dropdown__panel_se,
      &.ck-dropdown__panel_sw {
        animation-name: zd-menu--bottom-open;
      }
    }

    & > :first-child {
      margin-top: var(--ck-spacing-standard);
    }

    & > :last-child {
      margin-bottom: var(--ck-spacing-standard);
    }

    &.ck-dropdown__panel_ne,
    &.ck-dropdown__panel_nw {
      bottom: calc(100% + var(--ck-spacing-unit));
    }

    &.ck-dropdown__panel_se,
    &.ck-dropdown__panel_sw {
      top: calc(100% + var(--ck-spacing-unit));
      bottom: auto;
    }

    & .ck-list .ck-list__item .ck-button {
      border-radius: 0 !important;
    }
  }
}

.ck[dir='rtl'].ck-dropdown {
  & .ck-button.ck-dropdown__button {
    & .ck-dropdown__arrow {
      transition: transform .25s ease-in-out 0s, color .25s ease-in-out 0s;
    }

    &.ck-on {
      & .ck-dropdown__arrow {
        transform: rotate(-180deg);
      }
    }
  }
}
