/* stylelint-disable selector-max-compound-selectors,
   selector-combinator-space-before, indentation,
   declaration-no-important, max-line-length,
   custom-property-pattern, selector-not-notation */

.ck-content hr {
  margin: 0;
  background-color: $ZD-PALETTE-GREY-300;
  height: 1px;
}

.ck .ck-widget.ck-horizontal-line {
  padding: var(--ck-spacing-medium) 0;
  margin-block-start: var(--ck-spacing-extra-large);
  margin-block-end: var(--ck-spacing-extra-large);

  &.ck-widget_selected:not(.ck-widget_type-around_show-fake-caret_before,
    .ck-widget_type-around_show-fake-caret_after) {
    outline-color: transparent !important;
    border-radius: var(--ck-border-radius-small) !important;
    box-shadow: var(--ck-color-focus-outer-shadow) 0 0 0 var(--ck-spacing-small);

    & hr {
      background-color: var(--ck-color-base-focus);
    }
  }
}
