/* stylelint-disable custom-property-pattern */

.ck {
  &.ck-toolbar {
    padding: 0 var(--ck-spacing-standard);
  }

  &.ck-toolbar__separator {
    margin-right: var(--ck-spacing-standard) !important;
    margin-left: var(--ck-spacing-standard) !important;
    background: $ZD-PALETTE-GREY-200 !important;
  }

  &.ck-toolbar > .ck-toolbar__items > :not(.ck-toolbar__line-break) {
    margin-top: var(--ck-spacing-standard);
    margin-bottom: var(--ck-spacing-standard);
  }
}
