/* stylelint-disable custom-property-pattern, max-line-length, color-function-notation */

:root {
  /* FONTS */
  --ck-font-face: $ZD-FONTS-SYSTEM;
  --ck-font-size-base: $ZD-FONTSIZES-MD;
  --ck-font-size-tiny: $ZD-FONTSIZES-XS;
  --ck-font-size-small: $ZD-FONTSIZES-SM;
  --ck-font-size-normal: $ZD-FONTSIZES-XS;
  --ck-font-size-big: $ZD-FONTSIZES-LG;
  --ck-font-size-large: $ZD-FONTSIZES-XL;
  --ck-font-size-extra-large: $ZD-FONTSIZES-XXL;

  /* COLORS */
  --ck-color-base-background: $ZD-PALETTE-WHITE;
  --ck-color-base-foreground: $ZD-PALETTE-WHITE;
  --ck-color-base-border: $ZD-PALETTE-GREY-300;
  --ck-color-base-action: $ZD-PALETTE-GREEN-600;
  --ck-color-base-focus: $ZD-PALETTE-BLUE-600;
  --ck-color-base-text: $ZD-PALETTE-GREY-800;
  --ck-color-base-error: $ZD-PALETTE-RED-600;
  --ck-color-focus-border: var(--ck-color-base-focus);
  --ck-color-focus-outer-shadow: var(--ck-color-base-focus);

  /* SPACING */
  --ck-spacing-unit: $ZD-SPACE-XXS;
  --ck-spacing-extra-large: calc(var(--ck-spacing-unit) * 4);
  --ck-spacing-large: calc(var(--ck-spacing-unit) * 3);
  --ck-spacing-standard: calc(var(--ck-spacing-unit) * 2);
  --ck-spacing-medium: var(--ck-spacing-unit);
  --ck-spacing-small: calc(var(--ck-spacing-unit) * .5);
  --ck-spacing-tiny: calc(var(--ck-spacing-unit) * .25);
  --ck-spacing-extra-tiny: var(--ck-spacing-tiny);

  /* BORDERS */
  --ck-border-radius: $ZD-BORDERRADII-MD;
  --ck-border-radius-small: $ZD-BORDERRADII-SM;

  /* ICONS */
  --ck-icon-size: $ZD-ICONSIZES-MD;

  /* TOOLTIPS */
  --ck-color-tooltip-background: $ZD-PALETTE-KALE-700;
  --ck-color-tooltip-text: var(--ck-color-base-background);

  /* SHADOWS */
  --ck-color-shadow-drop: rgba(23, 73, 77, .15); /* CHROME-600 */
  --ck-inner-shadow:
    inset var(--ck-color-base-background) 0 0 0 $ZD-SHADOWWIDTHS-XS,
    inset var(--ck-color-focus-outer-shadow) 0 0 0 $ZD-SHADOWWIDTHS-MD;
  --ck-drop-shadow: var(--ck-color-shadow-drop) 0 20px 30px 0;
  --ck-focus-outer-shadow:
    var(--ck-color-base-background) 0 0 0 $ZD-SHADOWWIDTHS-XS,
    var(--ck-color-focus-outer-shadow) 0 0 0 $ZD-SHADOWWIDTHS-MD;

  /* WIDGET */
  --ck-widget-outline-thickness: 1px;

  /* BUTTONS */
  --ck-color-button-default-background: transparent;
  --ck-color-button-default-hover-background: rgba(31, 115, 183, .08); /* BLUE-600 */
  --ck-color-button-default-active-background: rgba(31, 115, 183, .2); /* BLUE-600 */
  --ck-color-button-default-active-shadow: transparent;
  --ck-color-button-default-disabled-background: transparent;
  --ck-color-button-on-background: var(--ck-color-button-default-active-background);
  --ck-color-button-on-hover-background: var(--ck-color-button-default-active-background);
  --ck-color-button-on-active-background: var(--ck-color-button-default-active-background);
  --ck-color-button-on-active-shadow: transparent;
  --ck-color-button-on-disabled-background: var(--ck-color-button-default-disabled-background);
  --ck-color-button-save: $ZD-PALETTE-GREEN-600;
  --ck-color-button-cancel: $ZD-PALETTE-RED-600;

  /* DROPDOWNS */
  --ck-dropdown-arrow-size: var(--ck-spacing-extra-large);

  /* LISTS */
  --ck-color-list-button-on-background: inherit;
  --ck-color-list-button-on-background-focus: var(--ck-color-list-button-hover-background);
  --ck-color-list-button-on-text: var(--ck-color-base-text);
}
